<html>
    <body>
        <audio controls loop src="{{ url_for('static', filename='drums/handdrum_4.mp3') }}" type=audio/mp3">
        </audio>
        <br>
        <audio controls loop src="{{ url_for('static', filename='drums/handdrum_6.mp3') }}" type=audio/mp3">
        </audio>
        <br>
        <audio controls loop src="{{ url_for('static', filename='drums/handdrum_11.mp3') }}" type=audio/mp3">
        </audio>
        <br>
        <audio controls loop src="{{ url_for('static', filename='drums/handdrum_17.mp3') }}" type=audio/mp3">
        </audio>
        <br>
        <audio controls loop src="{{ url_for('static', filename='drums/tom_38.mp3') }}" type=audio/mp3">
        </audio>
        <br>
    </body>
</html>
